@if (isLoading) {
<app-loader class="loader"></app-loader>
}

@else if (!isLoading) {

<div class="upper-wrapper">
    <app-search (search)="onSearchSubmit($event)"></app-search>
    <app-switcher [switcherState]="showCards" (switch)="switchCards($event)"></app-switcher>
</div>

@if (users.length > 0) {
@if (showCards) {
@for (user of users; track user) {
<app-user-string [user]="user" (delete)="deleteUser($event)"></app-user-string>
}
}

<!-- можно вот так -->
<div class="user-cards" *ngIf="!showCards">
    <app-user-card style="padding-bottom: 2vh;" *ngFor="let user of users" [user]="user" (delete)="deleteUser($event)"></app-user-card>
</div>


<app-pagination class="pagination" [currentPage]="request.pageNumber" [limit]="request.itemsPerPage" [total]="total_count"
    (changePage)="changePage($event)" (changeItemsPerPage)="changeItemsPerPage($event)"></app-pagination>
}

@else {
    <h3 style="display: flex; justify-content: center; font-size: xx-large; color: red;">No data</h3>
}
}