p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
    padding-right: 1%;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}